@mixin style-link($color)
   text-decoration: none
   text-transform: uppercase
   color: $color
   display: inline-block

@mixin clearfix
   &::after
      content: ''
      display: table
      clear: both
