
//Цвет текста
$color-grey: #777

//Основные цвета сайта
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//Черный и белый цвет сайта
$color-white: #FAFAFA
$color-black: #000

//Тени для кнопок
$box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.4)
$box-shadow-active: 1px 2px 4px 0px rgba(0, 0, 0, 0.4)
$shadow-h2: 1rem 1.4rem 1.4rem rgba($color-black, 0.75)

//Отступы
$margin-vertical-big: 8rem
$grid-width: 144rem
$grid-gap: 6rem

//Типографика
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem